/** This file contains global styles and generic classes **/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

@import "./utils/utils";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
