@import "../../../styles/variables";
@import "../../../styles/mixins";

.Header {
  box-shadow: 0 2px 12px 0 #dfe3eb;
  background: #fff;
  padding: 25px 15px;
  margin: auto;
  box-sizing: border-box;

  .HeaderContainer {
    display: flex;
    max-width: $MAX_WIDTH;
    margin: auto;
  }

  .AppName {
    font-weight: bold;
    font-size: 1.3rem;

    &::after {
      content: "";
      margin-left: 10px;
      border-right: 1px solid #000;
    }
  }

  .MenuBtn {
    display: none;
    margin-left: auto;
  }

  @include mobile-view {
    .Navigation {
      display: none;
    }

    .MenuBtn {
      display: block;
    }
  }
}
